{% extends 'base.html.twig' %}

{% block content %}

<div class="login">
<h3 class="login__title">
    Вход в аккаунт
</h3>

<div class="login__register-tooltip">
    Нет аккаунта? <a href="/register">Зарегистрироваться</a>
</div>

{{ form(form) }}

</div>

{% endblock %}
