{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}

<div class="about">
  <h3 class="about__title">О разработке</h3>
  <p class="about__description">
    Данный сайт разработан в рамках выполнения лабораторной работы по предмету
    Веб-программирование в университете ИМТО на направлении 11.03.02.
  </p>
  <p class="about__description">
    В качестве фреймворка для создания данного приложения был использован
    фреймворк <a href="https://www.djangoproject.com/">Django</a> и язык
    программирования Python 3.
  </p>
</div>

{% endblock %}
